table,th,td{
	border:1px solid black;
	border-collapse: collapse;
}
td{
	padding:50px;
}
th{
	text-align: center;
}
td{
	text-align:right top;

}
table th{
	background-color: black;
	color:white;
}
#tuna{

	background-color: #eee;
}
#name{
	border:1px solid black;
	background-color:green:;
}